<!DOCTYPE html>
<html>
  <head>
    <title>Cryptography | Encrypt</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all',
                                              'data-turbolinks-track': 'reload' u>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div class="container">
    <h1>PUBLIC KEY CRYPTOGRAPHY</h1>
    <h2> Assignment 1 </h2>
    <h3> Decrypted text </h3>
    <p><code>decrypt ("<%= ciphertext %>") = "<%= decrypted %>"</code></p>
    </div>
  </body>
</html>
