<h2>PUBLIC KEY CRYPTOGRAPHY</h2>

<h3> Lab 1 </h3>

<h4>Affine ciffer</h4>

<%= form_tag("/encrypt", method: "post") do %>
  <% Array(0..25).each do |idx| %>
    <%= label_tag(idx) %>
    <%= text_field_tag(idx, (idx + 'a'[0].ord).chr) %>
  <% end %>
  <%= hidden_field_tag(26, ' ')  %>
  <br>
  <%= label_tag("Encryption key") %>
  <br>
  <%= label_tag("alpha = ") %>
  <%= text_field_tag("alpha", value = 1) %>
  <br>
  <%= label_tag("beta = ") %>
  <%= text_field_tag("beta", value = 1) %>
  <br>
  <%= label_tag("Text to encrypt") %>
  <%= text_field_tag("text", value = "text to encrypt") %>
  <%= submit_tag("Encrypt") %>
<% end %>

<%= form_tag("/decrypt", method: "post") do %>
  <% Array(0..25).each do |idx| %>
    <%= label_tag(idx) %>
    <%= text_field_tag(idx, (idx + 'a'[0].ord).chr) %>
  <%= hidden_field_tag(26, ' ')  %>
  <% end %>
  <br>
  <%= label_tag("Encryption key") %>
  <br>
  <%= label_tag("alpha = ") %>
  <%= text_field_tag("alpha", value = 1) %>
  <br>
  <%= label_tag("beta = ") %>
  <%= text_field_tag("beta", value = 1) %>
  <br>
  <%= label_tag("Text to decrypt") %>
  <%= text_field_tag("ciphertext", value = "text to decrypt") %>
  <%= submit_tag("Decrypt") %>
<% end %>
